h1 {
  text-align: center;
  background-color: aquamarine;
}



Form {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
font-size: large;
  color: white;
}


